*_i.c
*_p.c
*_h.c
*.ilk
*.meta
*.obj
*.iobj
*.pbd
*.tmp
*.log
*.vspscc
*.vssscc
*.builds
*.tmp_proj
*.xml
*.vspx
*.vsp
*.csproj
*.cache
*.suo
*.sln
*.config
*.resx
*.settings
*.lock
*.ide
*.pdb
*.exe
*.dll
*.nupkg
*.ide-shm
*.ide-wal
*.csprojf
*.p7s
*.rct
Cloud\ Calendar/obj
Cloud\ Calendar/Properties
Cloud\ Calendar/bin
Cloud\ Calendar/App.config
